@mixin flex-layout($flex-direction: null, $justify-content: null, $align-items: null) {
  display: flex;
  @if $flex-direction {
    flex-direction: $flex-direction;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $align-items {
    align-items: $align-items;
  }
}
@mixin grid-layout($columns: null) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
}
@mixin set-gap($row-gap: null, $column-gap: null) {
  row-gap: $row-gap;
  column-gap: $column-gap;
}
@mixin grid-child($col-start, $col-end) {
  grid-column: #{$col-start}/#{$col-end};
}
@mixin position-element(
  $position: null,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $z-index: null
) {
  position: $position;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom{
    bottom: $bottom;
  }
  @if $left{
    left: $left;
  }
  @if $z-index {
    z-index: $z-index;
  }
}
