@use './fonts.scss' as *;
@use './colors.scss' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Inter', sans-serif;
  font-weight: $ultra-bold-weight;
}
p,
a,
span{
  font-family: 'Inter', sans-serif;
  font-size: $main-size;
  font-weight: $light-weight;
  color: getColor('dark-grayish-blue');
  line-height: 150%;
}
button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
